body {
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #6F3A3B;
}

.carrito-container {
    flex: 1;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carrito-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.carrito {
    display: flex;
    gap: 20px;
}

.carrito-productos {
    flex: 2;
    background-color: #f9f9f93b;
    padding: 20px;
    border-radius: 8px;
}

.carrito-producto {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.carrito-producto img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.carrito-detalles h3 {
    margin: 0;
    font-size: 16px;
}

.carrito-detalles p {
    margin: 5px 0;
    font-size: 14px;
}

.carrito-cantidad {
    display: flex;
    align-items: center;
    gap: 10px;
}

.carrito-cantidad button {
    background-color: #e7b9b9;
    border: none;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.carrito-resumen {
    flex: 1;
    background-color: #f9f9f93b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carrito-pagos button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.carrito-pagar {
    background-color: black;
    color: white;
}

.carrito-paypal {
    background-color: #ffcc00;
    color: black;
}

.seguir-comprando {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    display: block;
}


@media (max-width: 992px) {
    .carrito {
        flex-direction: column; 
    }

    .carrito-productos, .carrito-resumen {
        width: 100%; 
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .carrito-producto {
        flex-direction: column; 
        text-align: center;
    }

    .carrito-producto img {
        width: 80px; 
    }

    .carrito-detalles {
        margin-top: 10px;
    }

    .carrito-cantidad {
        justify-content: center; 
        margin-top: 10px;
    }

    .carrito-total {
        text-align: center; 
        margin-top: 10px;
    }

    .carrito-pagos button {
        padding: 10px;
        font-size: 14px;
    }

    .carrito-resumen h2 {
        font-size: 18px;
    }

    textarea {
        font-size: 14px;
    }
}


